$day-size: 100px;
$day-border: 1px;
$day-total-size: $day-size + (2 * $day-border);
$gap: 1px;
$columns: 7;
$padding: 10px;
$pre-calendar-width: ($columns * $day-total-size) + (($columns - 1) * $gap);
$calendar-width: $pre-calendar-width + (2 * $padding);
$font-family: Arial, Helvetica, sans-serif;
$font-size: 30px;
$day-bg-color: #eee;
$day-border-color: black;
$hover-color: #ffbfcb;
$transition-duration: 0.5s;
